<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <sec:http auto-config="true">
        <sec:intercept-url pattern="/events.htm" access="ROLE_USER"/>
        <!--<sec:intercept-url pattern="/admin/superadmin/**" access="hasRole('ROLE_SUPER_ADMIN')" requires-channel="https"/>-->
        <!--<sec:intercept-url pattern="/publish/**" access="hasAnyRole('ROLE_LOCAL_ADMIN','ROLE_SUPER_ADMIN','ROLE_PUBLISHER')" requires-channel="https"/>-->
        <!--<sec:intercept-url pattern="/reporting/**" access="hasAnyRole('ROLE_LOCAL_ADMIN','ROLE_SUPER_ADMIN','ROLE_PUBLISHER')" requires-channel="https"/>-->
        <!--<sec:intercept-url pattern="/welcome.htm*" access="hasAnyRole('ROLE_LOCAL_ADMIN','ROLE_SUPER_ADMIN','ROLE_PUBLISHER','ROLE_USER')" requires-channel="https"/>-->
    <sec:http-basic/>
    </sec:http>

    <!--<sec:authentication-manager alias="authenticationManager">-->
        <!--<sec:authentication-provider ref="casAuthenticationProvider"/>-->
    <!--</sec:authentication-manager>-->

    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="ptsaAdministrator" password="password" authorities="ROLE_USER, ROLE_ADMIN"/>
                <sec:user name="bob" password="bobspassword" authorities="ROLE_USER"/>
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>


    <!-- This filter handles a Single Logout Request from the CAS Server -->
    <!--<bean id="singleLogoutFilter" class="org.jasig.cas.client.session.SingleSignOutFilter"/>-->
    <!--<This filter redirects to the CAS Server to signal Single Logout should be performed -->
    <!--<bean id="requestSingleLogoutFilter"-->
          <!--class="org.springframework.security.web.authentication.logout.LogoutFilter">-->
        <!--<constructor-arg value="https://lappy:9443/cas/logout"/>-->
        <!--<constructor-arg>-->
            <!--<bean class=-->
                    <!--"org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"/>-->
        <!--</constructor-arg>-->
        <!--<property name="filterProcessesUrl" value="/j_spring_cas_security_logout"/>-->
    <!--</bean>-->

</beans>
